@use "./globals" as g;

@font-face {
  @include g.font-text("Medium", 500);
}

@font-face {
  @include g.font-text("Bold", 700);
}

body {
  @include g.style-text();
  line-height: 1;
  font-size: 1rem;
  color: g.$color-light;
  background-color: g.$color-dark;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  color: g.$color-gray;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  user-select: none;
  
  padding: 0 8px;
  border: g.$border;
  border-radius: g.$border-radius;
  color: g.$color-orange;
  height: g.$input-height;
  transition-duration: g.$transition-duration;

  &:hover {
    color: g.$color-dark;
    background-color: g.$color-orange;
  }
}

input {
  outline: none;
}

.container {
  max-width: g.$container-width + g.$container-padding-x * 2;
  height: 100vh;
  margin-inline: auto;
  padding-inline: g.$container-padding-x;

  &--flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: g.$breakpoint-sm) {
    padding-inline: calc(g.$container-padding-x - 20px);
  }
}

.link {
  color: g.$color-light;

  &:hover {
    text-decoration: underline;
  }
}
