$color-dark: #242a38;
$color-gray: #4e596f;
$color-light: #ffffff;
$color-orange: #f78361;


$breakpoint-lg: 1050px;
$breakpoint-md: 768px;
$breakpoint-sm: 490px;

$font-family: "Acrom", sans-serif;

$border: 2px solid $color-orange;
$border-radius: 12px;

$input-height: 40px;

$transition-duration: 0.2s;

$container-width: 1340px;
$container-padding-x: 30px;
